.maps__wrapper
  .maps__text
    h3.maps__title.
      приглашаем
      к сотрудничеству дилеров!
    p.maps__description.
      ул. Большая Конюшенная, д. 19/8
      Санкт-Петербург
  .maps__content
    include ../block/map


