.slider__wrapper
  h2.slider__title.
    живой пример
  p.slider__description.
    Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
  div.slider__value.value
    div.value__amount.value__amount--weight
      h3.value__title.
        5 кг
      span.value__description.
        снижение веса
      div.value__amount.value__amount--days
        h3.value__title.
          60 дней
        span.value__description.
          затрачено времени
  include ../block/slider
